@media screen and (max-width: 970px) {
  section {
    justify-content: center;
  }

  .hero {
    flex-direction: column;
  }

  .photo {
    margin-top: 3rem;
  }

  .blog__wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none
  }

  .hamburger {
    display: inline-block;
  }

  .hero__title {
    font-size: 5rem;
  }

  .stack {
    flex-direction: column;
  }

  .stack-right__details {
    max-width: 600px;
  }

  .projects__code, .projects__design, .projects__uiux {
    grid-template-columns: repeat(2, 1fr);
  }
  

  .courses {
    justify-content: flex-start;
  }

  .certificate {
    max-width: 90vw;
  }

  .certificate:nth-child(n+6) {
    display: none;
  }


  .footer__title {
    margin-bottom: 2rem;
  }

  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .social {
    flex-direction: column;
  }

  .social__link {
    margin: 5px 0;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 640px) {
  .portfolio, .blog {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .article {
    max-width: 550px;
  }

  .projects__code {
    flex-direction: column;
  }

  .project {
    flex-direction: column-reverse !important;
    background: #00000020;
  }

  .project__details {
    padding: 0;
    padding: 1rem;
  }

  .project__description {
    background-color: transparent;
    padding: 0;
  }

  .project__figure {
    width: 100%;
  }

  .project:nth-child(n+3) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 1rem;
  }
  .hero__title {
    font-size: 52px;
  }

  .btn {
    width: 95%;
  }

  .hero__messege {
    font-size: 32px;
  }

  .hero__quote {
    font-size: 26px;
  }

  .photo__img {
    max-width: 250px;
  }

  .stack-left {
    display: flex;
    overflow: scroll;
  }

  .stack-left__figure {
    width: 100%;
    margin-right: 40px;
  }

  .switch__label {
    padding: 10px 15px;
  }

  .projects__design, .projects__uiux {
    grid-template-columns: repeat(1, 1fr);
  } 

  .blog__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .article__img {
    width: 100%;
  }

  .copy-write {
    flex-direction: column;
  }

  .copy-write__img {
    width: 40%;
    margin-top: 1rem;
  }
}