@media screen and (max-width: 970px) {
  section {
    justify-content: center;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }

  .stack-right {
    margin-top: 5rem;
  }

  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none
  }

  .hero__title {
    font-size: 5rem;
  }

  .stack {
    flex-direction: column;
  }

  .stack-right__details {
    max-width: 600px;
  }
  

  .big-project {
    flex-direction: column;
  }

  .big-project img {
    max-width: 100%;
    margin: 0;
  }

  .projects__code, .courses, .projects__design, .projects__uiux  {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__title {
    margin-bottom: 2rem;
  }

  .footer__messege {
    margin: 0 3rem;
  }

  .social {
    flex-direction: column;
  }

  .social__link {
    margin: 5px 0;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 52px;
  }

  .btn {
    width: 90%;
  }

  .hero__messege {
    font-size: 32px;
  }

  .hero__quote {
    font-size: 26px;
  }

  .photo__img {
    max-width: 250px;
  }

  .stack-left {
    display: flex;
    margin-right: 40px;
  }

  .stack-left__img {
    width: 100%;
    margin-right: 40px;
  }

  .code-big {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .big-project-details {
    margin: 0;
  }

  .big-project__description {
    padding: 0;
  }

  .big-project__figure {
    margin: 0;
  }
  
  .big-project__img {
    max-width: 250px;
  }

  .small-project {
    padding: 0 1rem;
  }

  .projects__design, .projects__uiux {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .copy-write {
    flex-direction: column;
  }

  .copy-write__img {
    width: 40%;
    margin-top: 1rem;
  }
}
