@media screen and (max-width: 970px) {
  section {
    justify-content: center;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }

  .stack-right {
    margin-top: 5rem;
  }

  .courses-container, .blogs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  header {
    display: none
  }

  h1 {
    font-size: 5rem;
  }

  .MyStack {
    flex-direction: column;
  }

  .stack-right-details-text dd {
    max-width: 600px;
  }
  

  .big-project {
    flex-direction: column;
  }

  .big-project img {
    max-width: 100%;
    margin: 0;
  }

  .code-small, .carears-container, .desings-container, .uxix-container  {
    grid-template-columns: repeat(2, 1fr);
  }

  footer h4 {
    margin-bottom: 2rem;
  }

  footer h5{
    margin: 0 3rem;
  }

  .social {
    flex-direction: column;
  }

  .social li a {
    margin: 5px 0;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 52px;
  }

  h2 span {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
  }

  .btn {
    width: 90%;
  }

  .hero-description p {
    font-size: 32px;
  }

  q {
    font-size: 18px;
  }

  .hero img {
    max-width: 250px;
  }

  .stack-left {
    display: flex;
    margin-right: 40px;
  }

  .stack-left img{
    width: 100%;
    margin-right: 40px;
  }

  .switch label {
    padding: 15px;
    font-size: 16px;
  }

  .code-big {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .big-project-details {
    margin: 0;
  }

  .big-project-text p {
    padding: 0;
  }

  .big-project-img {
    margin: 0;
  }
  
  .big-project img {
    max-width: 250px;
  }

  .code-small {
    padding: 0 1rem;
  }

  .desings-container, .uxix-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .code-small, .carears-container, .courses-container, .blogs-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .copy-write {
    flex-direction: column;
  }

  .logo-footer {
    width: 40%;
    margin-top: 1rem;
  }
}
