@import "./reset.css";
@import "./responsive.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "lato", Times, serif;
  margin: 0px;
  color: white;
  counter-reset: section-counter;
  
  background-color: black;
  background-image: url("https://raw.githubusercontent.com/padronjosef/Portfolio-Assets/main/background.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

section {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 29, 29, 0.7);
  border-radius: 10px;
  margin: 120px auto;
  padding: 60px 1rem;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
  margin: 0 0 40px;
  font-weight: normal;
  text-align: center;
}

h2::before {
  counter-increment: section-counter;
  content: "0" counter(section-counter) ".";
  font-size: 24px;
  display: inline-block;
  margin-bottom: 10px;
  color: #bc7222;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

h3 {
  font-size: 22px;
  margin: 0;
  color: #f2f2f2;
}

p,
dd {
  line-height: 120%;
  font-size: 16px;
  color: #c2c2c2;
  margin: 0;
}

span {
  color: #bc7222;
  font-size: 14px;
}

ul {
  display: flex;
}
