.big-project {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.big-project-text {
  padding: 15px;
}

.big-project-details {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  margin-right: 20px;
}

.big-project-icons img {
  margin-left: 16px;
}

.big-project-title span {
  font-size: 14px;
  color: #BC7222;
}

.big-project-title h5 {
  font-size: 28px;
  margin: 5px 0 10px;
}

.big-project p {
  max-width: 520px;
  padding: 15px;
  background-color: #00000020;
  margin: 10px 0;
  border-radius: 4px;
  font-size: 18px;
}

.big-project-img {
  margin-left: 20px;
}
.big-project-img img {
  max-width: 450px;
}

.big-project ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.big-project ul li {
  margin-right: 12px;
}