@import "/src/containers/assets/variables.scss";

.project {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;

  &__details {
    padding: 15px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 5px 0 10px;
    display: block;

    &::before {
      content: "Feature Project";
      display: block;
      color: $primaryColor;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__link {
    margin-left: 16px;
  }

  &__description {
    max-width: 500px;
    padding: 15px;
    background-color: $bgColor3;
    margin: 10px 0;
    border-radius: 4px;
  }

  &__figure {
    width: 450px;
    border-radius: 4px;
    height: fit-content;
  }

  &__img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 4px;
    &:hover {
      opacity: 1;
      transition: 1s ease-in;
    }
  }
}

.project:nth-child(2) {
  flex-direction: row-reverse;

  .project__header {
    flex-direction: row-reverse;
  }

  .project__title {
    text-align: right;
  }
}

.project:nth-child(n + 3) {
  max-width: 320px;
  flex-direction: column-reverse;
  background-color: $bgColor3;
  padding: 35px 25px 25px;
  margin: 15px 15px 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;

  .project {
    &__img {
      content: url("https://raw.githubusercontent.com/padronjosef/Portfolio-Assets/main/icon-folder.svg");
      opacity: 1;
    }

    &__details {
      padding: 0;
    }

    &__description {
      background-color: transparent;
      padding: 0;
    }

    &__links {
      position: relative;
      top: -60px;
    }

    &__link img {
      width: 20px;
    }

    &__title {
      width: 160px;
    }

    &__title::before {
      display: none;
    }

    &__figure {
      width: 40px;
      margin-bottom: 20px;
      background: transparent;
    }
  }
}
