.code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-small {
  max-width: 1120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 0 auto;
}