@import '/src/assets/variables.scss';

.btn {
  font-size: 18px;
  color: $secondaryColor;
  border: 1px solid $secondaryColor;
  padding: 0.5rem 0;
  width: 300px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  font-family: $primaryFont;
}

.btn:hover {
  background-color: $bgButtons;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  transition: 0.5s;
}