@import "/src/assets/variables.scss";

.switch {
  margin: 0;
  border: $primaryColor 1px solid;
  width: fit-content;
  border-radius: 4px;
  margin-bottom: 40px;

  &__input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    
    &[type="radio"]:checked + label {
      background-color: $bgButtons;
      color: $secondaryColor;
    }
  }
  &__label {
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    width: fit-content;
    color: $primaryColor;
    cursor: pointer;
  }
}

.projects {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 40px;

  &__code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__figure {
    max-width: 320px;
  }

  &__img {
    width: 100%;
    border-radius: 4px;
  }
}

.project {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;

  &__details {
    padding: 15px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 5px 0 10px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__link {
    margin-left: 16px;
  }

  &__description {
    max-width: 500px;
    padding: 15px;
    background-color: $bgText;
    margin: 10px 0;
    border-radius: 4px;
  }

  &__figure {
    background-color: rgba(0, 0, 0, 0.4);
    width: 450px;
    height: 240px;
    border-radius: 4px;
  }

  &__img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.2;
    border-radius: 4px;
  }
}

.project:nth-child(2) {
  flex-direction: row-reverse;

  .project__header {
    flex-direction: row-reverse;
  }

  .project__title {
    text-align: right;
  }

  .project__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.project:nth-child(n + 3) {
  max-width: 320px;
  flex-direction: column-reverse;
  background-color: $bgText;
  padding: 2rem;
  margin: 15px 15px 40px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;
  justify-content: flex-end;

  .project {
    &__figure {
      display: none;
    }

    &__details {
      padding: 0;
    }

    &__description {
      background-color: transparent;
      padding: 0;
    }

    &__title::before {
      display: none;
    }

    &__figure {
      width: 40px;
      margin-bottom: 20px;
      background: transparent;
    }
  }
}
