.small-project {
  display: inline-block;
  max-width: 300px;
  align-items: center;
  background-color: #00000020;
  border-radius: 4px;
  padding: 40px 25px 25px;
  margin: 0 15px;
}

.small-project__assets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.small-project__link {
  margin-left: 20px;
}

.small-project__title {
  margin-bottom: 20px;
}

.small-project__description {
  margin-bottom: 10px;
}

.small-project__span {
  margin-right: 12px;
}