.course {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #00000020;
  max-width: 300px;
  padding: 0 25px;
}

.course p {
  font-size: 22px;
  margin-left: 12px;
}