.MyStack {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.stack-left, .stack-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-left h4, .stack-right h4{
  margin-bottom: 32px;
}

.stack-left div {
  display: grid;
  grid-row-gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.stack-left div img:last-child {
  grid-column: 3 / 5;
  grid-row: 4;
}


.stack-right img {
  width: 160px;
  margin-bottom: 30px;
  filter: invert(34%) sepia(30%) saturate(1113%) hue-rotate(351deg) brightness(50%) contrast(89%);
}

.stack-right-details p {
  margin-bottom: 5px;
  width: 400px;
  margin: 0;
}

.stack-right-details a {
  color: #BC7222;
}