main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 1240px;
  display: flex;
  align-items: center;
  padding: 50px;
}

.hero-description {
  max-width: 750px;
}

.hero-description p {
  font-size: 42px;
  margin: 1rem 0;
}

main img {
  margin-left: 150px;
  max-width: 300px;
  max-height: 300px;
}

q {
  font-size: 28px;
  margin: 0;
  color: #BC7222;
}
