@import '/src/containers/assets/variables.scss';

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
  margin-bottom: 40px;
}

.certificate {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: $bgColor3;
  max-width: 300px;
  padding: 5px 20px;
  box-sizing: border-box;

  &__img {
    width: 26px;
    cursor: pointer;
    filter: grayscale(1);
  }

  &__name {
    font-size: 18px;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}