.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #00000020;
  max-width: 300px;
  padding: 5px 25px;
}

.certificate__img {
  width: 30px;
}

.certificate__title {
  font-size: 22px;
  margin-left: 12px;
}