.stack-right {
  border: #bc7222 solid 1px;
  background: #bc722210;
  border-radius: 4px;
  padding: 20px;
  max-width: 400px;
  height: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stack-right__wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.stack-right__title {
  margin-bottom: 32px;
  font-size: 32px;
}

.stack-right__span {
  text-transform: lowercase;
}

.stack-right__img {
  height: 120px;
  width: 90%;
  margin-bottom: 30px;
  filter: invert(34%) sepia(30%) saturate(1113%) hue-rotate(351deg)
    brightness(50%) contrast(89%);
}

.stack-right__details {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.stack-right__link {
  display: block;
  width: 100%;
  color: #bc7222;
  font-size: 14px;
}
