.btn {
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 0;
  width: 300px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #bc722210;
  color: #bc7222;
  border: 1px solid #bc7222;
  transition: 0.5s;
}