@import '/src/containers/assets/variables.scss';

.btn {
  font-size: 18px;
  color: $gray1;
  border: 1px solid $gray1;
  padding: 10px 0;
  width: 300px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}

.btn:hover {
  background-color: $bgColor2;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  transition: 0.5s;
}