@import "/src/containers/assets/variables.scss";

.header {
  position: fixed;
  width: 100%;
  padding: 8px 0;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;

  background-color: $headerFooter;
  box-shadow: 0px 1px 20px #060F1C;
}

.navbar {
  width: 1340px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 auto;
  text-align: center;
}

.logo {
  height: 20px;
  display: flex;

  &__img {
    height: 100%;
  }
}

.menu {
  padding: 0 10px;
  display: flex;

  &__item {
    padding: 8px 12px;

    &::before {
      padding-right: 5px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__link {
    font-size: 18px;
  }
}

.resume {
  font-size: 16px;
  padding: 5px 40px;
  border: $secondaryColor solid 1px;
  border-radius: 4px;
}
