.stack-left {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  max-width: 400px;
}

.stack-left__img:hover {
  filter: invert(34%) sepia(30%) saturate(1113%) hue-rotate(351deg)
    brightness(50%) contrast(89%);
  cursor: pointer;
}

.stack-left__img:last-child {
  grid-column: 3 / 5;
  /* grid-row: 4; */
}