@import '/src/assets/variables.scss';

.courses {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
  // max-width: 600px;
}

.certificate {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-tertiary);

  &__img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }

  // &__name {
  //   font-size: 18px;
  //   margin-left: 12px;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
}