@import '/src/assets/variables.scss';

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  row-gap: 20px;
}

.certificate {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: $bgText;
  width: 32%;
  padding: 5px 20px;
  box-sizing: border-box;

  &__img {
    width: 26px;
    cursor: pointer;
    filter: grayscale(100%);
  }

  &__name {
    font-size: 18px;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}