@import '/src/assets/variables.scss';

.studies {
  & h2 {
    margin-bottom: 1rem;
  }
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  // max-width: 600px;
}

.certificate {
  max-width: 80px;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-tertiary);

  &__img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }

  // &__name {
  //   font-size: 18px;
  //   margin-left: 12px;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
}