
.carears {
  margin-bottom: 40px;
}

.carears, .courses{
  display: grid;
  justify-content: center;
  grid-gap: 20px;
}

.carears {
  grid-template-columns: repeat(2, 1fr);
}

.courses {
  grid-template-columns: repeat(3, 1fr);
}