.footer {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  background-color: #1D1D1D;
  align-items: center;
}

.footer__messege {
  max-width: 680px;
  font-size: 22px;
  text-align: center;
}

.social {
  margin: 50px 0 60px;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.social__item {
  margin: 0 20px;
}

.social__link {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.social__img {
  margin-right: 15px;
  height: 28px;
}

.copy-write {
  display: flex;
  align-items: center;
}

.copy-write__message{
  font-size: 18px;
  margin: 0;
  margin-right: 5px;
}

.copy-write__img {
  width: 80px;
}