footer {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  background-color: #1D1D1D;
  align-items: center;
}

footer h5 {
  margin: 0;
}

.mailTo {
  color: #BC7222;
  font-size: 20px;
  border: 1px solid #BC7222;
  border-radius: 4px;
  padding: 15px 25px;
  margin: 40px 0 60px;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.social li {
  margin: 0 20px;
}

.social li a {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.social img {
  margin-right: 15px;
}

.copy-write {
  display: flex;
  margin-top: 60px;

}

.copy-write p{
  margin-bottom: 10px;
  font-size: 18px;
  margin: 0;
  margin-right: 5px;
}

.logo-footer {
  width: 80px;
}