@import '/src/assets/variables.scss';

.blog {
  .btn {
    margin-top: 2rem;
  }
}

.blog__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.article {
  background-color: var(--color-secondary-button);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;

  &__figure{
    width: 100%;
  }

  &__img {
    width: 100%;
    opacity: 0.5;
  }

  &__details {
    padding: 0.5rem 1rem 1rem;
  }

  &__time {
    display: inline-block;
    font-size: 12px;
    color: var(--color-primary);
    margin-bottom: 0.25rem;
  }

  &__title {
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  &__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}