.article {
  background-color: #00000020;
  border-radius: 4px;
  max-width: 300px;
  cursor: pointer;
}

.article__img {
  max-width: 300px;
  opacity: 0.2;
}

.article__img:hover{
  opacity: 1;
  transition: .5s;
}

.article__details {
  padding: 10px 16px 16px;
  max-width: 300px;
}

.article__time {
  display: inline-block;
  font-size: 12px;
  color: #bc7222;
  margin-bottom: 5px;
}

.article__title {
  margin-bottom: 10px;
}

.article__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}