.blogs {
  background-color: #00000020;
  border-radius: 4px;
  max-width: 300px;
}

.blogs h3 {
  margin-bottom: 10px;
}

.blogs img {
  max-width: 300px;
  opacity: 0.2;
}

.blogs img:hover {
  opacity: 1;
  transition: .5s;
}

.blog-details {
  padding: 10px 16px 16px;
  max-width: 300px;
}