@import "/src/containers/assets/variables.scss";

.hamburger {
  position: fixed;
  top: 5vh;
  right: 7vw;
  z-index: 200;
  width: 30px;
  height: 30px;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
  display: none;
}

.hamburger__div {
  height: 0px;
  border: 1.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  background: #fff;
}

.hamburger--is-active {
  transition-delay: 100ms;
  transform: scale(1.1);
}

.hamburger--is-active .hamburger__div:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.hamburger--is-active .hamburger__div {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background: transparent;
}

.hamburger:focus {
  outline: 0px;
}

.hamburger__div:nth-child(1) {
  top: 0px;
}

.hamburger__div:nth-child(2) {
  top: 8px;
}

.hamburger__div:nth-child(3) {
  top: 16px;
}

.hamburger__div:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: "";
  border: 3px solid #bc7222;
  background: #bc7222;
  display: block;
  position: relative;
  top: 0.25px;
}

.hamburger--is-active .hamburger__div:nth-child(1) {
  transform: rotate(-33deg);
}

.hamburger--is-active .hamburger__div:nth-child(2) {
  transform: rotate(90deg);
  top: 0;
}

.hamburger--is-active .hamburger__div:nth-child(3) {
  transform: rotate(33deg);
  top: 0;
}

.hamburger--is-active .hamburger__div:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
}

// keyframes
@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}