@import './variables.scss';

@media screen and (max-width: 768px) {
  .section {
    padding: 0 40px !important;
    margin: 140px 0 !important;
    height: auto;
  }

  .hamburger {
    display: flex;
    background: $background;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 100%
  }

  .header {
    visibility: hidden;
    padding: 4vh 10vw;
    box-sizing: border-box;
    height: 100%;
    left: 100vw;
    transition: all 400ms ease-out;

    &--is-active {
      visibility: visible;
      left: 0;
      transition: all 400ms ease-out;
    }
  }

  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: flex-start;
  }

  .logo {
    height: auto;
    max-width: 160px;
    margin-bottom: 5vh;

    &__img {
      width: 100%;
    }
  }

  .menu {
    display: block;
    padding-bottom: 3vh;
    box-sizing: border-box;
    padding: 0;

    &__link {
      font-size: 40px;
    }

    &__item {
      padding: 8px 0 3vh 0;
      text-align: left;

      &:hover {
        padding: 8px 0 3vh 0;
        margin: 0;
      }

      &--active {
        padding-bottom: 3vh;
        background-color: transparent;
        border: transparent;

        .menu__link {
          color: $primaryColor;
        }
      }

      &::before {
        font-size: 24px;
        margin-right: .5rem;
      }
    }
  }

  .center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .resume {
    display: flex;
    position: absolute;
    font-size: 40px;
    padding: 15px auto;
    bottom: 5vh;

    left: 50%;
    transform: translateX(-50%);

    &:hover {
      font-size: 40px;
      padding: 15px auto;
    }
  }

  .hero__title {
    font-size: 5rem;
  }

  .stack-right__details {
    max-width: 600px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .certificate {
    max-width: 90vw;
  }

  .article {
    max-width: 550px;
  }

  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  
    &__title {
      margin-bottom: 2rem;
    }
  }

  .social {
    flex-direction: column;

    &__link {
      margin: 5px 0;
      font-size: 1.8rem;
      margin: .5rem 0;
    }
  }
}

@media screen and (max-width: 640px) {
  h2 {
    margin-bottom: 16px !important;
  }

  .experience-wrapper{
    flex-direction: column;
  }

  .experience{
    flex-direction: row;
    margin-bottom: 20px;
    overflow: scroll;

    &__input[type="radio"] {
      &[type="radio"]:checked + label {
        border-left: 0;
        border-bottom: 4px solid $primaryColor;
      }
    }
    &__label {
      border-left: 0;
      border-bottom: 3px solid $gray;
      display: flex !important;
      text-align: center;
      align-items: center;
    }
  }

  .portfolio, .blog {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .project {
    flex-direction: column-reverse !important;
    background: $bgText;

    &__code {
      flex-direction: column;
    }

    &__details {
      padding: 0;
      padding: 1rem;
      align-items: flex-start !important;
    }

    &__header {
      flex-direction: row !important;
    }

    &__title {
      text-align: left !important;
    }

    &__description {
      background-color: transparent;
      padding: 0;
    }

    &__figure {
      width: 100%;
    }

    &:nth-child(n+3) {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .section {
    margin: 80px 0 !important;
    height: auto;
  }

  .btn {
    width: 95%;
  }

  .hero {
    &__title {
      font-size: 52px;
    }

    &__messege {
      font-size: 32px;
    }

    &__quote {
      font-size: 26px;
    }
  }

  .photo__img {
    max-width: 250px;
  }

  .stack-left {
    display: flex;
    overflow: scroll;

    &__figure {
      width: 100%;
      margin-right: 40px;
    }
  }

  .switch__label {
    padding: 10px 15px;
  }

  .article__img {
    width: 100%;
  }

  .copy-write {
    flex-direction: column;

    &__img {
      width: 40%;
      margin-top: 1rem;
    }
  }
}