/* Colors */   
$bg-color1: #ff8888
$bg-color2:#ffffff88
$bg-color3: #bac3f7
$bg-color4: #5c5b5b

$primary-color: #000
$secondary-color: #fff7
$tertiary-color: #777

$btn-color1: #0007
$btn-color2: #fff
$btn-color3: #0001

.highlight
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px

.normal
  background-color: #929BA3

.dark
  background-color: #9994A0

.fighting
  background-color: #E12C6A

.flying
  background-color: #8AACE4

.poison
  background-color: #B667CF

.ground
  background-color: #E97333

.rock
  background-color: #C9B787

.bug
  background-color: #84C400

.ghost
  background-color: #4B6AB3

.steel
  background-color: #598FA3

.fire
  background-color: #FF983F

.water
  background-color: #3393DD

.grass
  background-color: #35C04A

.electric
  background-color: #FBD200

.psychic
  background-color: #FF6676

.ice
  background-color: #4BD2C1

.fairy
  background-color: #FB8AEC

.dragon
  background-color: #0070CA

/* Fonts */ 
$family: 'Varela Round', san-serif
