$primaryColor: #2680EB;
$secondaryColor: #CCD6F6;
$gray: #8892B0;
$background: #0A192F;
$headerFooter: #08162B;
$bgButtons: #0262e010;
$bgText: #00000050;

$primaryFont: 'Space Mono', monospace;
$secondaryFont: 'Raleway', sans-serif;