@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .header {
    visibility: hidden;
    padding: 4vh 3vw;
    box-sizing: border-box;
    height: 100%;
    left: 100vw;
    transition: all 400ms ease-out;

    &--is-active {
      visibility: visible;
      left: 0;
      transition: all 400ms ease-out;
    }
  }

  .navbar {
    flex-direction: column;
    align-items: baseline;
    // justify-content: space-between;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .logo {
    height: auto;
    max-width: 200px;
    margin-bottom: 2rem;
    margin-left: 12px;

    &__img {
      width: 100%;
    }
  }

  .menu {
    display: block;
    padding-bottom: 3vh;
    box-sizing: border-box;

    &__item {
      padding-bottom: 3vh;

      &:hover {
        padding-bottom: 3vh;
      }

      &--active {
        padding-bottom: 3vh;
        background-color: transparent;
        border: transparent;

        .menu__link {
          color: $primaryColor;
        }
      }

      &::before {
        font-size: 24px;
        margin-right: .5rem;
      }
    }

    &__link {
      font-size: 40px;
    }
  }

  .center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .resume {
    display: flex;
    position: absolute;
    justify-content: center;
    max-width: 400px;
    font-size: 40px;
    box-sizing: border-box;
    padding: 20px 20%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 5vh;

    &:hover {
      max-width: 400px;
      font-size: 40px;
      padding: 20px 25%;
    }
  }

  .hero__title {
    font-size: 5rem;
  }

  .stack-right__details {
    max-width: 600px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .certificate {
    max-width: 90vw;
  }

  .article {
    max-width: 550px;
  }

  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  
    &__title {
      margin-bottom: 2rem;
    }
  }

  .social {
    flex-direction: column;

    &__link {
      margin: 5px 0;
      font-size: 1.8rem;
      margin: .5rem 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .experience-wrapper{
    flex-direction: column;
  }

  .experience{
    flex-direction: row;
    margin-bottom: 20px;
    overflow: scroll;

    &__input[type="radio"] {
      &[type="radio"]:checked + label {
        border-left: 0;
        border-bottom: 4px solid $primaryColor;
      }
    }
    &__label {
      border-left: 0;
      border-bottom: 3px solid $gray;
      display: flex !important;
      text-align: center;
      align-items: center;
    }
  }

  .portfolio, .blog {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .project {
    flex-direction: column-reverse !important;
    background: $bgText;

    &__code {
      flex-direction: column;
    }

    &__details {
      padding: 0;
      padding: 1rem;
      align-items: flex-start !important;
    }

    &__header {
      flex-direction: row !important;
    }

    &__title {
      text-align: left !important;
    }

    &__description {
      background-color: transparent;
      padding: 0;
    }

    &__figure {
      width: 100%;
    }

    &:nth-child(n+3) {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .btn {
    width: 95%;
  }

  .hero {
    padding: 1rem;

    &__title {
      font-size: 52px;
    }

    &__messege {
      font-size: 32px;
    }

    &__quote {
      font-size: 26px;
    }
  }

  .photo__img {
    max-width: 250px;
  }

  .stack-left {
    display: flex;
    overflow: scroll;

    &__figure {
      width: 100%;
      margin-right: 40px;
    }
  }

  .switch__label {
    padding: 10px 15px;
  }

  .article__img {
    width: 100%;
  }

  .copy-write {
    flex-direction: column;

    &__img {
      width: 40%;
      margin-top: 1rem;
    }
  }
}