@import "./reset.css";
@import "./aos.css";

@import "./responsive.scss";
@import './variables.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "lato", Times, serif;
  color: $secondaryColor;
  counter-reset: section-counter;
  line-height: 1;

  background: black url("https://raw.githubusercontent.com/padronjosef/Portfolio-Assets/main/background.webp") no-repeat fixed center;
  background-size: cover;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  color: $secondaryColor;
}

section {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 29, 29, 0.8);
  border-radius: 10px;
  margin: 120px auto;
  padding: 60px 1rem;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

h2::before {
  color: $primaryColor;
  counter-increment: section-counter;
  content: "0" counter(section-counter) ".";
  font-size: 24px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

h3 {
  font-size: 22px;
}

p, dd {
  color: $gray1;
  line-height: 120%;
  font-size: 16px;
  margin: 0;
}

span {
  color: $primaryColor;
  font-size: 14px;
}
