@import './variables.scss';
@import './animations.scss';
@import './responsive.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// _________________________ //
//       reset styles        //
// _________________________ //

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

// _________________________ //
//      general styles       //
// _________________________ //

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primaryFont;
  line-height: 1;
  color: $secondaryColor;
  counter-reset: section-counter;
  background: $background;
}

a {
  color: $secondaryColor;
  text-decoration: none;
}

section {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto;
  padding: 60px 1rem;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;

  &::before {
    color: $primaryColor;
    counter-increment: section-counter;
    content: "0" counter(section-counter) ".";
    font-size: 24px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
  }
}

h3 {
  font-size: 22px;
}

p, dd {
  color: $gray;
  line-height: 140%;
  font-size: 16px;
  margin: 0;
  font-family: $secondaryFont;
  font-weight: bold;
}

span {
  font-size: 14px;
  font-family: $secondaryFont;
  font-weight: bold;
  color: $primaryColor;
}

q {
  color: $gray;
}
